<div class="users-all">
  <div class="all-users-block-up">
    <h1 id="all-users"><img class="users-logo" src="http://s28.postimg.org/760q2e849/users_logo.png"> <%= link_to "Users", users_path %></h1>
    <%= will_paginate %>
  </div>
  <div class="all-users-content">
    <ul id="users" class="users">
      <%= render @users %>
    </ul>
  </div>
  <div class="all-users-block-down">
    <div class="fix-down">
      <%= will_paginate %>
    </div>
  </div>
</div>
