<tr>
   <td class="micropost">
      <span class="content"><%= micropost.content %></span>
      <span class="timepost">
         Posted <%= post_time(micropost.created_at) %>.
         <% if current_user?(micropost.user) %>
           <%= link_to "delete", micropost, method: :delete, 
           data: { confirm: "You sure?" }, title: micropost.content %>
         <% end %>
      </span>
   </td>
</tr>
