.container {
  width: 950px;
  margin: 60px auto;
}

body {
  background: #c0deed;
  font-family: Arial, Helvetica, sans-serif;
}

.header-cont {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 50px;
  background: #ffffff;
  border-bottom: 1px solid rgba(0,0,0,0.15);
  z-index: 7;
}

header {
  width: 950px;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 15.3px;
  z-index: 11;
}

header img {
}

section {
  font-size: 120%;
  padding: 10px;
  background: #fff;
}

section h1 {
  font-size: 150%;
}

/* Links */

a {
  color: #66757f;
  text-decoration: none;
}

a:visited {
  color: #66757f;
}

a:hover {
  color: #2ba3ff;
}

/* Navigation */

nav {
  float: right;
  background: white;
  padding: 0 0.7em;
  white-space: nowrap;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

nav ul li a {
  text-decoration: none;
  padding: 0 5px;
  font-weight: bold;
}

nav ul li a:visited {
  color: #66757f;
}

nav ul li a:hover {
  color: #2ba3ff;
}

/* Register button */

a.register_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 190px;
  height: 33px;
  color: #fff;
  background: #006400;
  font-size: 24px;
  font-weight: bold;
  padding: 20px;
}

a:hover.register_button {
  background: #009cff;
}

/* Round corners */

.round {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* Footer */

footer {
  text-align: center;
  margin-top: 20px;
  width: 950px;
  margin-left: auto;
  margin-right: auto;
}

footer nav {
  float: none;
}

/* forms */


div.field, div.actions {
  margin-bottom: 15px;
}

.field input {
  width: 170px;
  height: 20px;
  border: 1px solid gray;
  resize: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.field input:focus {
  border: 1px solid #AB0202;
  outline: 0;
}

.actions input {
  height: 24px;
  margin: 0;
  background: #006400;
  color: white;
  border: 1px solid;
  border-color: gray;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.actions input:hover {
  background: #009cff;
}

/* Eror msg */

#error_explanation {
  color: #f00;
}

#error_explanation ul {
  list-style: none;
  padding-left: 0;
}

.alert-success {
  padding: 0.8em;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  background: #e6efc2;
  color: #264409;
  border-color: #c6d880;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.alert-error {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 1px solid #ddd;
  background: #ea6464;
  color: #960b0b;
  border-color: #ff283c;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.alert-notice {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 1px solid #ddd;
  background: #e4ea85;
  color: #b7a31a;
  border-color: #c8d22a;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
div.gravatar {
  width: 400px;
}

.gravatar h1 {
  margin-bottom: 10px;
}

.gravatar p {
  margin-top: 10px;
  margin-bottom: 25px;
}

img.gravatar {
  display: inline-block;
}

.gravatar h1 a {
  display: inline-block;
  float: right;
  margin-right: 200px;
  margin-top: 45px;
  font-size: 20px;

}

/* Users index */

#all-users {
  padding-left: 0;
}

.all-users {
  padding-right: 40px;
  padding-left: 40px;
  padding-top: 0;
}

ul.users {
  margin-top: 1em;
  padding-left: 0;
}

ul.users li {
  list-style: none;
}

.pagination {
  padding-left: 0;
}

.pagination li {
  display: inline-block;
  list-style: none;
}

/* Home */


.home-top {
  width: 930px;
}

.home-top-left {
  width: 550px;
  height: 100%;
}

.home-top-right {
  width: 370px;
  float: right;
}

.home-bottom {
  width: 930px;
}

.top-right {
  height: 100%;
}

a.user-block-link {
  display: block;
  width: 370px;
  height: 100px;
  background: #2ba3ff;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}

.user-content {
  position: relative;
  width: 368px;
  height: 125px;
  margin: 0;
  background: #e9f5ff;
  border-bottom: 1px solid #AADAFF;
  border-left: 1px solid #AADAFF;
  border-right: 1px solid #AADAFF;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}

a.avatar-link {
  display: block;
  position: absolute;
  left: 10px;
  bottom: 60px;
  width: 110px;
  height: 110px;
  padding: 5px;
  background: #aaa5a5;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.avatar-link img {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.user-fields {
  position: absolute;
  left: 140px;
}

a.user-name-link {
  font-size: 25px;
  color: black;
}

a.user-name-link:hover {
  text-decoration: underline;
}
.stats {
  position: absolute;
  top: 60px;
  padding: 10px 0 10px 15px;
}

.stats-list {
  margin: 0;
  padding: 0;
  width: 355px;
  float: left;
  list-style: none;
}

.stats-list li {
  display: inline-block;
}

.stat {
  margin-right: 43px;
}

.stat-label {
  font-size: 13px;
}

.stat-value {
  color: #2ba3ff
}

.post-create {
  top: 47px;
  width: 508px;
  height: 154px;
  margin-bottom: 10px;
  padding: 20px;
  background: #e9f5ff;
  border: 1px solid #AADAFF;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.new_micropost {
  width: 550px;
}

.post-field {
  height: 112px;
  margin-bottom: 4px;
}

.text-area {
  width: 502px;
  height: 106px;
  border: 1px solid rgba(43,163,255,0.25);
  resize: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.text-area:focus {
  border: 1px solid #AADAFF;
  outline: 0;
}

.post-actions {
  width: 96px;
  margin: 0;
}

.post-button {
  width: 96px;
  height: 38px;
  border: 0;
  background: #50b2fe;
  color: #dedffe;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.post-button:hover {
  background: #2ba3ff
}

.success {
  width: 930px;
  margin-bottom: 10px;
}

.eror {
  width: 930px;
  margin-bottom: 10px;
}
.post {
  margin-bottom: 10px;
  min-height: 65px;
  font-size: 14px;
  padding: 10px;
  background: #e9f5ff;
  border: 1px solid #AADAFF;
  word-break: break-all;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.post-content {
  margin-left: 70px;
}

.post-block {
  float: left;
  width: 70px;
  height: 70px;
  margin-left: -70px;
  margin-right: 10px;
  margin-top: 0px;
  margin-bottom: 0;
}

.block-img-link {
  display: block;
  width: 65px;
  height: 65px;
  background: #aaa5a5;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.block-img-link img {
  margin-top: 5px;
  margin-left: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.content-text {
  margin-left: 10px;
  margin-top: 2px;
  margin-bottom: 0;
  margin-right: 0;
}

.info-user-link a {
  font-size: 16px;
  color: black;
}

.info-user-link a:hover {
  color: #2ba3ff;
  text-decoration: underline;
}

/* User show page */

table.profile {
  width: 100%;
  margin-bottom: 0;
}

td.main {
  width: 62%;
  padding: 1em 2em 1em 0;
}

td.sidebar {
  width: 38%;
  padding-top: 70px;
  padding-left: 30px;
  vertical-align: top;
  background: #8a897f;
  border: solid 1px;
}


/* Microposts */

h1.micropost {
  margin-top: 0;
  margin-bottom: 0.3em;
  font-size: 20px;
  color: #66757f;
}

table.microposts {
  width: 520px;
  margin-top: 1em;
}

table.microposts tr {
  height: 70px;
}

table.microposts tr td.gravatar {
  border-top: 1px solid #ccc;
  vertical-align: top;
  width: 50px;
}

table.microposts tr td.micropost span.timepost {
  display: block;
  font-size: 85%;
  color: #666;
}

td.micropost {
  border-top: 1px solid #e8e8e8;
}

div.user_info img {
  padding-right: 0.1em;
}

div.user_info a {
  text-decoration: none;
}

div.user_info span.user_name {
  position: absolute;
}

div.user_info span.microposts {
  font-size: 80%;
}


/* Following */

#following {
  width: 910px;
}

#left-side {
  width: 455px;
  border: 0;
  padding-left: 40px;
  margin: 0;
}

#left-side ul {
  list-style: none;
  padding-left: 0;
}

#users {
  border-top: 1px solid #e8e8e8;
}

#users li {
  padding-top: 5px;
  border-bottom: 1px solid #e8e8e8;
}


#right-side {
  
  position: absolute;
  width: 410px;
  border: 0;
  padding: 0;
  margin: 0;
}

.follow-sidebar {
  display: block;
  width: 345px;
  padding: 20px;
  margin-left: 25px;
  margin-right: 0;
  background: #8a897f;
}


